/* =============================
   ✅ Base Styles
============================= */

.outer-nav {
  display: flex;
  justify-content: center;
  background-color: var(--color-nav);
}

.navbar-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-nav);
  color: var(--color-text);
  width: 100%;
  max-width: 1200px;
  max-height: 125px;
  padding: 2% 3%;
  top: 0;
}

.navbar-container.smaller {
  padding: 2% 7%;
}

.navbar-container-background,
.navbar-container-background.smaller {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-nav);
  z-index: 5;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4% 2%;
  z-index: 5;
}

.site-title {
  width: 30%;
  white-space: nowrap;
  letter-spacing: 2px;
}

.navbar-container a {
  text-decoration: none;
  color: var(--color-text);
}

nav ul li {
  flex-wrap: nowrap;
  display: flex;
  align-content: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-left: 2rem;
  letter-spacing: 1px;
  z-index: 5;
}

nav .active,
nav a:hover {
  opacity: 0.5;
}

.theme-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem;
  color: rgb(255, 236, 175);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  filter: drop-shadow(0 0 2px rgba(45, 45, 45, 0.8));
}

.theme-toggle-button:hover {
  background: none;
  border: none;
  color: rgb(255, 236, 175);
}

.outer-nav,
.navbar-container,
.navbar-container-background,
.navbar-content,
nav {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  will-change: background-color, color;
}

/* =============================
   📱 Mobile Styles
============================ */

.hamburger-menu-container,
.hamburger-menu {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar-container {
    flex-direction: column;
    padding: 4% 7%;
  }

  .hamburger-menu-container {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    margin: 4% 7%;
    cursor: pointer;
    z-index: 6;
  }

  .hamburger-menu {
    display: block;
    position: absolute;
    margin: 14px 5px;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .hamburger-menu-button {
    width: 20px;
    height: 1px;
    background: var(--color-text);
    transition: all 0.3s ease-in-out;
  }
  .hamburger-menu-button::before,
  .hamburger-menu-button::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    background: var(--color-text);
    transition: all 0.3s ease-in-out;
  }
  .hamburger-menu-button::before {
    transform: translateY(-8px);
  }
  .hamburger-menu-button::after {
    transform: translateY(8px);
  }
  .hamburger-menu.icon-open .hamburger-menu-button {
    transform: translateX(50px);
    background: transparent;
  }
  .hamburger-menu.icon-open {
    transform: translateX(-50px);
  }
  .hamburger-menu.icon-open .hamburger-menu-button::before {
    transform: rotate(45deg);
  }
  .hamburger-menu.icon-open .hamburger-menu-button::after {
    transform: rotate(-45deg);
  }

  nav {
    position: absolute;
    top: 100%;
    width: 100vw;
    z-index: 1;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    background: var(--color-nav);
    box-shadow: 0 4px 8px var(--menu-shadow);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0;
    padding: 0;
  }

  nav.animate ul {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  nav ul.open {
    transform: scaleY(1);
    opacity: 1;
  }
  /* items */
  nav ul li {
    width: 100%;
    margin: 0;
    padding: 1.2rem;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
  }
  nav ul li:hover {
    background-color: var(--color-hover);
  }
  nav ul li a:hover {
    color: var(--color-text) !important;
    opacity: 1 !important;
  }

  /* full-box clicks */
  nav ul li a,
  nav ul li.theme-toggle button {
    display: block;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    padding: 0; /* already on LI */
    text-align: center;
    cursor: pointer;
  }
}
