# dependencies
node_modules/

# Firebase functions local credentials or debug logs
firebase-debug.log
firebase-debug.*.log
google-credentials.json

# React or frontend
/build
/coverage

# Environment & secrets
.env*
*.local
private-files/

# IDE/editor
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
pglite-debug.log

# Images (optional)
.png
.jpg
